{{!-- form should be similar to add client but with PUT request --}}

{{!-- needs the same form as add client but with different button functionality --}}

<form action="/action_clients" method="put">
    <div class="row">
        <div class="input-field col s6">
            <input value='{{ age }}' name='Age' id="Age" type="text" class="validate">
            <label class="active" for="Age">Age</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input value='{{gender}}' name='Gender' id="Gender" type="text" class="validate">
            <label class="active" for="Gender">Gender</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input value='{{user_weight}}' name='Weight' id="Weight" type="text" class="validate">
            <label class="active" for="Weight">Weight</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input value='{{user_height}}' name='Height' id="Height" type="text" class="validate">
            <label class="active" for="Height">Height</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input value='{{phone_number}}' name='Phone Number' id="Phone_Number" type="text" class="validate">
            <label class="active" for="Phone_Number">Phone Number</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input value='{{goals}}' name='Goals' id="Goals" type="text" class="validate">
            <label class="active" for="Goals">Goals</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <input value='{{injuries}}' name='Injuries' id="Injuries" type="text" class="validate">
            <label class="active" for="Injuries">Injuries</label>
        </div>
    </div>


    <div class="row">
        <div class="input-field col s6">
            <input value='{{medical_conditions}}' name='Medical Condition' id="Medical_Condition" type="text"
                class="validate">
            <label class="active" for="Medical Condition">Medical Condition</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input value='{{diet}}' name='Diet' id="Diet" type="text" class="validate">
            <label class="active" for="Diet">Diet</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input value='{{history}}' name='History' id="History" type="text" class="validate">
            <label class="active" for="History">History</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input value='{{Plan_name}}' name='Plan Type' id="Plan_type" type="text" class="validate">
            <label class="active" for="Plan_type">Plan Type</label>
        </div>
    </div>

</form>